* {
  box-sizing: border-box;
}
body {
  background-color: #f3eed9;
  background: url(../img/background.jpg) fixed center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.2rem;
}
.noSelect {
  cursor: pointer;
  // pointer-events: none;
}
.app {
  height: 100vh;
}
p.ps,
p.ps a {
  font-size: 0.9rem;
  color: rgba(0, 15, 99, 0.5);
  margin: 0.2rem;
  margin: 0.5rem auto;
  text-align: center;
  user-select: none;
}
.shadow {
  box-shadow: 0 0 0.2rem black;
}
.tdHidden {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
th,
img {
  user-select: none;
}
// .hidden {
//   overflow: hidden;
//   transition: all 0.3s ease-in;
// }
//function class
.right {
  float: right;
  margin: 1rem;
}
.hidden {
  overflow: hidden;
}
.close {
  overflow: hidden;
  height: 0;
}
.open {
  height: auto;
  margin-bottom: 3rem;
}
.current {
  opacity: 1;
}
@keyframes MoveDown {
  0% {
    transform: translateY(-100%);
  }
  // 60% {
  //   transform: translateY(10%);
  // }
  // 80% {
  //   transform: translateY(-5%);
  // }
  100% {
    transform: translateY(0);
  }
}
.moveDown {
  animation: MoveDown 0.2s ease-in;
  // animation: 3s ease-in;
  position: relative;
  // transform: translateY(-100%);
}
.filter {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.editOrder {
  animation: Show 0.5s ease-in;
}
